body{
	margin: 0;
	background-color: #35A7FF;
}

.navi li{
	
	display: inline;
	margin-right: 1%;
}
 .navi{
 	text-align: center;
 	padding: 2% 0 2%;
 	background-color: #FFE66D;
 }

li , a {
	text-decoration: none;
	color: #35A7FF;
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

a:hover{
	color: #1C77C3;
	transition: all 300ms;
}

input[type="text"] {
	width: 50%;
	background: #1C77C3;
	border-style: none;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
input[name="message"]{
	height: 100px;
}

form{
	margin-left: 30%;
	margin-top:2%;
	color:white;
}
input[type="submit"]{
	margin-top: 2%;
}

.title{
	margin-top: 3%;
	width: 100%;
	margin-left: 30%;
	color:white;
	font-size: 30px;
}

